/* All Pages */
.header{
    border: 10px solid black;
    background-color: rgb(46, 43, 43);
    color: azure;
    margin: 0 0 10px 0;
}
#links{
    color: azure;
    float: right;
    font-size: 50px;
}
.body{
    background-color: rgb(59, 154, 155);
}
/* End of All Pages */
/* Home Page */
#Chillguy{
    width: 300px;
}
.homepic{
margin-left: 850px;

}
#imgsize{
    width: 700px;
    border-radius: 50px;
    border: 10px solid black;
}
.box p{
    font-size: 50px;
   
    
}
/* End of Home Page */
/* About Page */
.container{
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    display: flex;
    

}
.container p{
    margin-bottom: 15px;
    flex-wrap: wrap; 
    margin: 0 10px 0 30px;
}
.picleft{
    width: 300px;
    background-color: #fff;
    overflow: visible;
    margin-bottom: 50px;
    width: fit-content;
    height:100%;
    border: 10px solid black;
    border-radius: 10px;
    margin: 0 0 0 5px;
    
   
}
.picright{
    width: 500px;
    background-color: #fff;
    overflow: visible;
    margin-bottom: 50px;
    width: fit-content;
    border: 10px solid black;
    border-radius: 10px;
    position: absolute;
    right: 0 ;
    margin: 0 40px 0 0;
    
}
.container2{
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
}
.imgsize{
    width: 500px;
}
.container2 p{
    margin-bottom: 15px;
    flex-wrap: wrap; 
    margin: 0 550px 0 10px;
    font-size: 50px;
    
}
.container3{
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    display: flex;
    flex-wrap: wrap;
}
.picleft3{
    width: 300px;
    background-color: #fff;
    overflow: visible;
    margin-bottom: 50px;
    width: fit-content;
    height:100%;
    border: 10px solid black;
    border-radius: 10px;
    margin: 0 0 0 5px;
    
   
}
/* End of About Page */